/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    @apply py-24;
}

.container-custom {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
}

nav a {
    @apply duration-300;
}

nav a:hover {
    @apply text-green-600;
}

.auth-background {
    @apply bg-gradient-to-br
    from-emerald-100
    via-white
    to-emerald-50;
}

.auth-container {
    @apply max-w-7xl
    mx-auto
    px-6
    py-10;
}

.auth-card {
    @apply bg-white
    rounded-[36px]
    overflow-hidden
    shadow-2xl
    border
    border-gray-100;
}

.soft-shadow {
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.08);
}

.btn-primary {
    @apply w-full
    bg-emerald-600
    hover:bg-emerald-700
    text-white
    py-3
    rounded-xl
    transition-all
    duration-300
    font-medium;
}

.input {
    @apply w-full
    rounded-xl
    border
    border-gray-200
    px-4
    py-3
    outline-none
    focus:ring-4
    focus:ring-emerald-100
    focus:border-emerald-500
    transition-all;
}

.section-title {
    @apply text-4xl
    font-bold
    text-gray-800;
}

.section-subtitle {
    @apply text-gray-500
    mt-2;
}
